<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="asyncFile" xsi:type="AsyncWrapper">
			<target name="logfile" xsi:type="File"
			        fileName="trace/powerbi.txt"
			        layout="${date:format=yyyy-MM-dd HH-mm-ss.fff} | ${level} | ${callsite:className=true}| ${message} | ${exception:format=tostring}"
					archiveNumbering="Date"
			        archiveDateFormat="yyyyMMdd-HH"
			        archiveEvery="Hour"
			        keepFileOpen="false"
			        maxArchiveFiles="24"/>/>
		</target>
		<target xsi:type="Console"
		        name="console"
		        layout="${date:format=yyyy-MM-dd HH-mm-ss.fff} | ${level} | ${callsite:className=true}| ${message} | ${exception:format=tostring}" />
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile"/>
		<!--<logger name="*" minlevel="Trace" writeTo="console"/>-->
	</rules>
</nlog>